@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.custom-scroll {
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  background: #cccccc;
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 7px;
}

.scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    background: #cccccc;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 7px;
  }
}

.ant-form-item {
  margin-bottom: 10px;
}

.box-light {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  .box-title {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .inner-box {
    background: #f6f6f6;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;

    &-title {
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 10px;
      text-align: right;
    }
  }
}

#error-page {
  height: 100vh;
  display: flex;
  justify-content: center;

  .content {
    text-align: center;
    margin-top: 100px;

    .title {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .description {
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}

.ant-table-container {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ant-table-thead {
  .ant-table-cell {
    font-weight: 400 !important;
    overflow: hidden;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.table-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f6f6f6;

  .ant-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  img,
  .ant-image-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
